<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Minified version -->
<link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
   
	<title>Weather Application</title>
	<link rel="icon" type="image/x-icon" href="/images/favicon.ico">
	<style type="text/css">
		.container {
 
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 16px;

}

.no-mg-bottom {
	margin-bottom: 0px;
	margin-top: 5px;
}

	</style>
</head>

<body>
	
	<header>
		<nav align="center"><a href='home/'>HOME</a> | <a href='prediction/'>WEATHER PREDICTIONS</a> | <a href='about/'>ABOUT</a></nav>
		<span> Hello, {{request.user}}</span>
		<span><a href="{% url 'logout' %}">Logout</a></span>
		<h3>Popular Cities </h3>
	</header>
<main >
	<div class="container">
		{% for city_weather in weather_data %}
		<article class="item" align="center">
			<figure>
			  <img alt="{{ city_weather.icon }}" src="http://openweathermap.org/img/w/{{ city_weather.icon }}.png" width="70" height="70"/>
			  <figcaption>{{ city_weather.icon }}</figcaption>
			</figure>
			
		<p class="no-mg-bottom"><label>City Name : </label>{{ city_weather.city }}</p>
		<p class="no-mg-bottom"><label>Temperature : </label>{{ city_weather.temperature }}</p>
		<p class="no-mg-bottom"><label>Weather Description : </label>{{ city_weather.description }}</p>
		</article>
		{% endfor %}
	</div>
</main>
	<footer>
    <p>Weather App  by Chathura Kithmal</p>
  </footer>
</body>
</html>